<ion-content [ngClass]="{'dislexic-font': isDislexicFontEnabled}">
  <div class="Dashboard-div">
    <div class="Dashboard-title-bar">
      <div>
        <ion-list>
          <ion-icon name="menu" style="color: black;" class="menu-button" (click)="openMenu(menu1)">
          </ion-icon>
          <ion-select #menu1 interface="action-sheet" (ionChange)="onSelectNavigate($event)" style="display: none;">
            <ion-select-option value="Dashboard">Dashboard</ion-select-option>
            <ion-select-option value="Service">Service Connection</ion-select-option>
          </ion-select>
        </ion-list>
      </div>
      <ion-text class="title">
        <h1>Dashboard</h1>
      </ion-text>
      <div>
        <ion-list>
          <ion-icon name="settings-outline" (click)="openMenu(menu2)" class="menu-button">
          </ion-icon>
          <ion-select #menu2 interface="action-sheet" (ionChange)="onSelectParam($event)" style="display: none;">
            <ion-select-option value="Log out">Log out</ion-select-option>
            <ion-select-option value="Dislexic font">Dislexic font</ion-select-option>
          </ion-select>
        </ion-list>
      </div>
    </div>


    <div class="flex-rectangle" *ngFor="let area of areas">
      <div class="main-rectangle">
        <div class="actionReaction-rect">
          <ion-list class="action-list">
            <ion-item>
              <ion-select aria-label="Action" interface="popover" placeholder="Action"
                (ionChange)="onSelectAction($event, area)" [(ngModel)]="area.action" [disabled]="!area.local">
                <ion-select-option *ngFor="let item of menuItemsAction" [value]="item.action"
                  [disabled]="area.action === item.action || !item.connected">
                  {{ item.label }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>

          <div *ngIf="area.action === 'Weather'" class="city-div">
            <ion-list class="city-list">
              <ion-item>
                <ion-select aria-label="City" interface="popover" placeholder="City"
                  (ionChange)="onSelectCity($event, area)" [(ngModel)]="area.inputAction" [disabled]="!area.local">
                  <ion-select-option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </div>

          <div *ngIf="area.action === 'Alert'" class="city-div">
            <ion-list class="city-list">
              <ion-item>
                <ion-select aria-label="City" interface="popover" placeholder="City"
                  (ionChange)="onSelectCity($event, area)" [(ngModel)]="area.inputAction" [disabled]="!area.local">
                  <ion-select-option *ngFor="let city of cities_alerts" [value]="city.name">{{ city.name
                    }}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </div>

          <div *ngIf="area.action !== 'Weather' && area.action !== 'Alert'" class="input-div">
            <ion-input class="input-balise" size="small" [(ngModel)]="area.inputAction" placeholder="Enter a text"
              value="{{area.inputAction}}" [disabled]="!area.local"></ion-input>
          </div>

          <div *ngIf="area.reaction === 'Issue' || area.reaction === 'Branch'" class="city-div">
            <ion-list class="city-list">
              <ion-item>
                <ion-select [disabled]="!area.local" interface="popover" placeholder="Organisations GitHub"
                  [(ngModel)]="orgChosen" (ionChange)="orgsVal($event)">
                  <ion-select-option *ngFor="let org of githubOrgs" [value]="org.login">
                    {{ org.login }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </div>

          <div *ngIf="area.reaction === 'Issue' || area.reaction === 'Branch'" class="city-div">
            <ion-list class="city-list">
              <ion-item>
                <ion-select [disabled]="!area.local" interface="popover" placeholder="Repos GitHub"
                  [(ngModel)]="repChosen" (ionChange)="repsVal($event)">
                  <ion-select-option *ngFor="let rep of filterRep" [value]="rep.name">
                    {{ rep.name }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </div>

          <div *ngIf="area.reaction === 'sendEmail'" class="input-div">
            <ion-input class="input-balise" size="small" [(ngModel)]="emailInput" placeholder="Email"
            (ionInput)="emailInputChange($event)" [disabled]="!area.local"></ion-input>
          </div>

          <div *ngIf="area.reaction === 'MP'" class="input-div">
            <ion-input class="input-balise" size="small" [(ngModel)]="idDiscordInput" placeholder="id Discord"
            (ionInput)="idDiscordInputChange($event)" [disabled]="!area.local"></ion-input>
          </div>

          <div *ngIf="area.reaction === 'MP' || area.reaction === 'Clip' || area.reaction === 'Issue' || 
          area.reaction === 'Event' || area.reaction === 'Branch' || area.reaction === 'sendEmail'" class="input-div">
            <ion-input class="input-balise" size="small" [(ngModel)]="area.inputReaction" placeholder="Enter a text"
              value="{{area.inputReaction}}"></ion-input>
          </div>

          <ion-list class="reaction-list">
            <ion-item>
              <ion-select aria-label="Reaction" interface="popover" placeholder="Reaction"
                (ionChange)="onSelectReaction($event, area)" [(ngModel)]="area.reaction" value="{{area.reaction}}"
                [disabled]="!area.local">
                <ion-select-option *ngFor="let item of menuItemsReaction" [value]="item.reaction"
                  [disabled]="area.reaction === item.reaction || !item.connected">
                  {{ item.label }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>

          <ion-button *ngIf="area.local" size="small" fill="solid" class="apply-button"
            (click)="ApplyArea(area.action, area.reaction, area.inputAction, area.inputReaction)">
            Save
          </ion-button>
        </div>

        <ion-button size="small" class="close-button" (click)="DelArea(area.id)">
          <ion-icon slot="icon-only" name="close-outline"></ion-icon>
        </ion-button>
      </div>
    </div>

    <ion-button class="add-button" (click)="addNewArea()">+</ion-button>
  </div>
</ion-content>