.top-part {
  background: #81ACFF;
  height: 7vh;
  display: flex;
  padding: 0 1em;
  justify-content: space-between;
  align-items: center;
}
  
.top-part h1 {
  color: black;
}

.top-part .button-style {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.top-part .button-style:hover {
  background: transparent;
}