<ion-content>
  <div class="Service-div">
    <div class="Service-title-bar">
      <div>
        <img
            src="assets/menu.png"
            style="
                width: 24px;
                height: 24px;
                margin-top: 100%;
            "
            (click)="moveToDashboard()"
        />
      </div>
      <ion-text><h1>Service</h1> </ion-text>
      <div>
        <img
            src="assets/exit.png"
            style="
                width: 24px;
                height: 24px;
                margin-top: 100%;
            "
            (click)="deleteCookies()"
        />
      </div>
    </div>
    <div class="flex-rectangle">
      <div class="main-rectangle">
          <img src="assets/discord.png" class="icon-container" />
          <ion-text class="connection-rect"  [style.background-color]="discord_status"
          (click)="connectService('discord')"><h3>{{ this.discord_text }}</h3></ion-text>
      </div>
      <div class="main-rectangle">
        <img src="assets/X.png" class="icon-container" />
        <ion-text class="connection-rect"  [style.background-color]="x_status"
        (click)="connectService('twitter')"><h3>{{ this.x_text }}</h3></ion-text>
      </div>
      <div class="main-rectangle">
        <img src="assets/google.png" class="icon-container" />
        <ion-text class="connection-rect"  [style.background-color]="google_status"
        (click)="connectService('google')"><h3>{{ this.google_text }}</h3></ion-text>
      </div>
      <div class="main-rectangle">
        <img src="assets/spotify.png" class="icon-container" />
        <ion-text class="connection-rect"  [style.background-color]="spotify_status"
        (click)="connectService('spotify')"><h3>{{ this.spotify_text }}</h3></ion-text>
      </div>
  </div>
  
  </div>
</ion-content>
