.signup_div {
    background-color: #7889da;
    width: 70vh;
    height: 80vh;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    font-size: 2rem;
}

.signup_div h1 {
    color: black;
}

.name_input,
.surname_input,
.username_input,
.email_input,
.password_input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 0px;
}

.name_input input,
.surname_input input,
.username_input input,
.email_input input,
.password_input input {
    padding: 5px 20px;
    border: none;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 35px;
    border-radius: 50px;
    width: 500px;
    height: 70px;
}

.button_create {
    margin-top: 50px;
    border-radius: 50px;
}

.login {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.create_account a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.8rem;
    margin-left: 5px;
}

.create_account p {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.8rem;
}
