<ion-content class="login-div" [fullscreen]="true">
    <div class="info-container">
        <ion-input
            type="email"
            label="Email"
            labelPlacement="floating"
            errorText="Invalid email"
            [(ngModel)]="inputEmail"
        ></ion-input>
        <ion-input
            type="password"
            label="Password"
            labelPlacement="floating"
            errorText="Incorrect password"
            [(ngModel)]="inputPassword"
        >
        </ion-input>
    </div>

    <div class="forgot_password">
        <a href="https://www.amoursucre.com/s1/city">Forgot your password?</a>
    </div>

    <div class="sign_in">
        <p>New here?</p>
        <a class="button-hover" routerLink="/register">Register</a>
    </div>

    <div>
        <ion-button expand="full" (click)="onLogin()">Login</ion-button>
    </div>
</ion-content>
