.info-container {
    margin: 10px;
}

.forgot_password {
    text-align: center;
    margin-bottom: 20px;
}

.forgot_password a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.8rem;
}

.forgot_password a:hover {
    text-decoration: underline;
}

.sign_in {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sign_in a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.8rem;
    margin-left: 5px;
}

.sign_in a:hover {
    text-decoration: underline;
}

.sign_in p {
    color: #ffffff;
    font-size: 0.8rem;
}

.login-div {
    width: 100vw;
    height: 100vh;
}

.bad-entry {
    text-align: center;
    color: #ff0606;
}
