.login-main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #B5CEFF;
}

.login_div {
    position: relative;
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: #7889da;
    width: 70vh;
    height: 80vh;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    font-size: 2rem;
}

.login_div h1 {
    color: rgb(255, 255, 255);
    margin: 6vh;
}

.button-login {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button-login Button{
    margin-top: 2vh;
    background-color: #33478f;
    border-radius: 50px;
    width: 25vh;
}

.button-login Button:hover {
    background-color: #4359ac;
}

.email_input,
.password_input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
    margin-left: 0px;
}

.email_input input,
.password_input input {
    background-color: #94acec;
    padding: 5px 20px;
    border: none;
    font-size: 35px;
    border-radius: 50px;
    width: 500px;
    height: 70px;
}

.forgot_password {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.forgot_password a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.8rem;
}

.forgot_password a:hover {
    text-decoration: underline;
}

.sign_in {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
}

.sign_in a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.8rem;
    margin-left: 5px;
}

.sign_in a:hover {
    text-decoration: underline;
}

.sign_in p {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.8rem;
}
