.dashboard .button-menu {
    display: flex;
    justify-content: space-between;
    background-color: #b5ceff;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    width: 30vh;
    padding: 10px;
    gap: 8px;
    overflow: hidden;
}

.dashboard .button-menu:hover {
    background-color: #a9c2f3;
    color: rgb(0, 0, 0);
}

.dashboard .all-container {
    background-color: #b5ceff;
    display: grid;
    grid-template-rows: 0px 100vh;
    grid-gap: 4%;
    overflow: hidden;
}

.dashboard .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard .back-rectangle {
    background-color: #8cb3ff;
    width: 80%;
    height: 80%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
}

.dashboard .column-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
    gap: 2vh;
}

.row_container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    justify-items: center;
    width: 100%;
}

.dashboard .rectangle {
    grid-column: 2;
    background-color: #7289da;
    border: 1px solid black;
    width: 120vh;
    height: 10vh;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 2%;
    box-shadow: 2px 3px 1px 1px rgb(124, 137, 190);
    position: relative; 
}

.dashboard .cont-rect {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 2%;
    gap: 1%;
}

.dashboard .rectangle-add {
    background-color: #7289da;
    border: 1px solid black;
    width: 120vh;
    height: 10vh;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    box-shadow: 2px 3px 1px 1px rgb(124, 137, 190);
    position: relative;
    grid-column: 2;
}

.dashboard .rectangle-add:hover {
    background-color: #6a7fcc;
}

.dashboard .button-cross {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0px;
    right: -5px;
    cursor: pointer;
    height: 4vh;
}

.dashboard .button-correct {
    background-color: #6a7fcc;
    width: 11vh;
    height: 5vh;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 2px 3px 1px 1px rgb(124, 137, 190);
    grid-column: 3;
}

.dashboard .button-correct:hover {
    background-color: #5c6fb3;
    cursor: pointer;
    border: 1px solid black;
}

.popUp {
    background-color: #e90808 !important;
    position: absolute;
    left: 42.5%;
    top: 70px;
    border: 1px solid black;
    width: 30vh;
    height: 5vh;
}

.alreadyExist {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    background-color: #b5ceff;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    width: 30vh;
    height: 5.5vh;
    padding: 10px;
    gap: 8px;
    overflow-y: auto;
}
