button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  background-color: #7289DA;
  cursor: pointer;
  transition: border-color 0.3s;
}

button:hover {
  border-color: #4d5b8f;
  background-color: #4d5b8f;
}

.all-container {
  display: grid;
  grid-template-rows: 0px 100vh;
  grid-gap: 4%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-rectangle {
  background-color: #8CB3FF;
  width: 80%;
  height: 80%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 18vh;
  gap: 8vh;
}

.rectangle {
  background-color: #7289DA;
  border-color: black;
  width: 40vh;
  height: 15vh;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
