.top-part {
    border: transparent solid 2px;
    background: #81ACFF;
    height: 7vh;
    display: flex;
    padding: 0 1em;
    justify-content: space-between;
    align-items: center;
  }
  
.top-part h1 {
    color: black;
  }